@import './base/reset';
@import './abstarcts/mixin', './abstarcts/variables';
@import './components/footer', './components/nav';
@import './pages/about', './pages/contact', './pages/home', './pages/project';

body{
    color: $text-color;
    background-color: $primary-color;
    height: 100vh;
    font-family: ;
}

